<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://java.sun.com/xml/ns/javaee"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
     id="WebApp_ID" version="3.0">



	<display-name>Archetype Created Web Application</display-name>
		<servlet>
	        <servlet-name>dispatcher</servlet-name>
	        <servlet-class>
	            org.springframework.web.servlet.DispatcherServlet
	        </servlet-class>
	        <init-param>
	            <param-name>contextConfigLocation</param-name>
	            <param-value>/WEB-INF/booking-servlet.xml</param-value>
	        </init-param>
	        <load-on-startup>1</load-on-startup>
	    </servlet>
	
	    <servlet-mapping>
	        <servlet-name>dispatcher</servlet-name>
	        <url-pattern>/spring-mvc/*</url-pattern>
	    </servlet-mapping>
	<filter>
		<filter-name>jdbcFilter</filter-name>
		<filter-class>by.jd.matveev.filter.JDBCFilter</filter-class>
	</filter>

	<filter>
		<filter-name>cookieFilter</filter-name>
		<filter-class>by.jd.matveev.filter.CookieFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>jdbcFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>cookieFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<!-- <welcome-file>index.jsp</welcome-file> -->
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<scripting-invalid>false</scripting-invalid>
		</jsp-property-group>
	</jsp-config>


</web-app>

